.aprenda-mais {
    align-items: center;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    display: flex;
    background-image: url('../assets/Imagens/Group\ 78.svg');
    background-position-y: -130px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 15%;
}

.aprenda-mais__titulo {
    align-self: flex-start;
    color: #020E25;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.aprenda-mais__titulo::after {
    content: ':';
}

.aprenda-mais__lista {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aprenda-mais__item {
    cursor: pointer;
    margin: 15px 0;
    width: 15%;
}

.aprenda-mais__item__card {
    border-radius: 20px;
    height: 125px;;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

#card-tesouro-direto {
    background-image: url('../assets/Imagens/tesouro-direto.png');
}

#card-cdb {
    background-image: url('../assets/Imagens/certificado-deposito-bancario.png');
}

#card-lci {
    background-image: url('../assets/Imagens/credito-imobiliario.png');
}

#card-lca {
    background-image: url('../assets/Imagens/letra-credito-agronegocio.png');
}

#card-debentures {
    background-image: url('../assets/Imagens/debentures.png');
}

#card-fundo-de-investimento {
    background-image: url('../assets/Imagens/fundos-investimentos.png');
}

#card-fundos-imobiliarios {
    background-image: url('../assets/Imagens/fundos-imobiliarios.png');
}

#card-acoes {
    background-image: url('../assets/Imagens/acoes.png');
}

#card-cambio {
    background-image: url('../assets/Imagens/cambio.png');
}

#card-renda-fixa {
    background-image: url('../assets/Imagens/renda-fixa.png');
}

#card-renda-variavel {
    background-image: url('../assets/Imagens/renda-variavel.png');
}

#card-gerir-suas-financas {
    background-image: url('../assets/Imagens/gerir-financias.png');
}

.aprenda-mais__item__texto {
    text-align: center;
    color: #020E25;
    font-size: 16px;
}

.aprenda-mais__botao {
    background-color: #0B1673;
    border: none;
    border-radius: 20px;
    color: #FFF;
    cursor: pointer;
    display: none;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    margin-top: 10px;
    padding: 10px;
    width: 100px;
}

@media (max-width: 1024px) {
    .aprenda-mais__item {
        width: 23%;
    }
}

@media (max-width: 768px) {
    .aprenda-mais__titulo {
        font-size: 18px;
        margin: 10px 0;
    }
    
    .aprenda-mais__item {
        width: 30%;
        margin: 5px 0;
    }
    
    .aprenda-mais__botao {
        display: block;
    }

    .aprenda-mais__item__texto {
        font-size: 15px;
    }

    .aprenda-mais__item--hidden {
        display: none;
    }
}

@media (max-width: 500px) {
    .aprenda-mais {
        padding: 20px;
        background-repeat: repeat-y;
        background-size: 100vh;
    }

    .aprenda-mais__item__card {
        height: 80px;
    }
    
    .aprenda-mais__item__texto {
        font-size: 12px;
    }
}