.apresentacao-site {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.apresentacao-titulo {
    font-family: 'Roboto', sans-serif;
    color: #80ED99;
    font-weight: 700;
}

.apresentacao-subtitulo {
    font-family: 'Rubik';
    color: #EAEAEA;
    font-weight: 400;
}

.container-saiba-mais {
    background: #FFFFFF;
    border-radius: 100px;
    border: none;
    font-weight: 500;

}

.senhor-sentado {
    display: flex;
    align-items: flex-start;
    float: right;
}

#forma {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#senhor-sentado {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

@media (min-width: 280px) {
    .senhor-sentado {
        margin: -410px -164px 0px 0px;
        width: calc(18em + 13vw);
    }

    #senhor-sentado {
        width: 61vw;
        margin: 38px 0px 0px -314px;
    }

    .apresentacao-site {
        font-size: 12px;
        width: 42%;
        height: 83%;
        margin: 30px 0px 0px 15px;
    }

    .container-saiba-mais {
        font-family: 'Rubik';
        width: calc(8em + 2vw);
        height: calc(1.5em + 4vh);
        font-size: calc(1.1em + 0.4vw);
    }


}



@media (min-width: 400px) {
    .senhor-sentado {
        margin: -419px -119px 0px 0px;

    }

    #senhor-sentado {
        margin: 33px 0px 0px -331px;
    }
}


@media (min-width: 600px) {

    .senhor-sentado {
        margin: -419px -70px 0px 0px;
    }

    #senhor-sentado {
        margin: 28px 69px 3px -350px;
    }

}


@media (min-width: 769px) {
    .apresentacao-site {
        font-size: inherit;
        width: 50%;
    }

    .apresentacao-titulo {
        font-size: 40px;
    }

    .apresentacao-subtitulo {
        margin-top: 30px;
        font-size: 20px;
    }

    .container-saiba-mais {
        height: 64px;
        width: 171px;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 100px;
    }

    .senhor-sentado {
        width: calc(16em + 13vw);
        margin: -458px -28px 0px 0px;
    }

    #senhor-sentado {
        margin: 2px 0px 0px -310px;
    }

    #saiba-mais {
        font-size: 18px;
    }
}


@media (min-width: 900px) {
    .apresentacao-titulo {
        max-width: 448px;
    }

    .apresentacao-subtitulo {
        max-width: 448px;
    }

    #senhor-sentado {
        margin: 6px 0px 0px -327px;
    }

    .senhor-sentado {

        margin: -451px 0px 0px 0px;
    }
}


@media (min-width: 1050px) {
    #senhor-sentado {
        margin: 6px 0px 0px -352px;
    }

    .senhor-sentado {
        width: 25em;
        margin: -465px 0px 0px 0px;
    }
}


@media (min-width: 1080px) {
    .apresentacao-site {
        margin: 40px 0px 0px 10em;
    }

    #logo {
        margin: 15px 0px 0px 9.8em;
    }
}

@media (min-width: 1344px) {
    .senhor-sentado {
        width: 25em;
        margin: -535px 0px 0px 0px;
    }
}