.apresentacao-site {
    height: 50%;
    display: flex;
    flex-direction: column;
    width: 42%;
    justify-content: space-evenly;
    margin: 30px 0px 0px 15px;
    font-size: calc(0.5em + 0.4vw);
}

.apresentacao-titulo {
    font-family: 'Roboto', sans-serif;
    color: #80ED99;
    font-weight: 700;
}

.apresentacao-subtitulo {
    font-family: 'Rubik';
    color: #EAEAEA;
    font-weight: 400;
}

.container-saiba-mais {
    background: #FFFFFF;
    border-radius: 100px;
   
    width: calc(7em + 2vw);
    padding: 3px 0px 0px 0px;
    height: calc(1.5em + 1.6vh);
}
.senhor-sentado {
    display: flex;

    align-items: flex-start;

    float: right;
}

#forma {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#senhor-sentado {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

@media (min-width: 280px) {
    .senhor-sentado {
        width: calc(9em + 9vw);
        margin: -250px 0px 0px 0px;
    }

    #senhor-sentado {
        width: 58vw;
        margin: 15px 0px 0px -151px;

    }
}

@media (min-width: 315px) {
    .senhor-sentado {
        margin: -276px 0px 0px 0px;
        width: calc(9em + 13vw);
    }

    #senhor-sentado {
        width: 61vw;
        margin: 2px 0px 0px -175px;
    }
}


@media (min-width: 400px) {
    .senhor-sentado {
        margin: -281px 0px 0px 0px;
        width: calc(10em + 15vw);
    }

    #senhor-sentado {
        margin: 5px 0px 0px -208px;
    }
}

@media (min-width: 600px) {
    .senhor-sentado {
        margin: -254px 0px 0px 0px;
        width: calc(12em + 17vw);
    }

    #senhor-sentado {

        margin: 4px 0px 0px -283px;
    }
}

@media (min-width: 800px) {
    .apresentacao-site{
        margin: 30px 0px 0px 73px;
    }
}

@media (min-width: 900px) {

    #senhor-sentado {
        margin: 6px 0px 0px -322px;

    }
}

@media (min-width: 1150px) {

    #senhor-sentado {
        margin: 5px 0px 0px -384px;
    }
}