.apresentacao-container {
    display: flex;
    justify-content: space-between;
    height: 80vh;
}


.apresentacao-titulo {
    font-family: 'Roboto', sans-serif;
    color: #FFA6CB;
    font-weight: 700;
    margin-bottom: 20px;
}

.apresentacao-subtitulo {
    font-family: 'Rubik';
    color: #EAEAEA;
    font-weight: 400;
    margin-bottom: 40px;
}

.container-saiba-mais {
    background: #FFA6CB;
    border-radius: 100px;
    border: none;
    font-weight: 500;
    color: #0B1673;
}


#forma {
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
}

#senhor-sentado {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

@media (min-width: 200px) {

    .senhor-sentado {
        height: 440px;
    }

    #senhor-sentado {
        width: 71%;
        position: relative;
        top: -355px;
        right: 110px;
        float: right;
    }

    #forma {
        width: 373px;
    }

    .apresentacao-container {
        height: 505px;
        margin-top: 35px;
    }

    .apresentacao-site {
        height: 440px;
        font-size: 12px;
        width: 42%;
        margin: 0px 0px 0px 15px;
        padding: 0px 0px 35px 0px;
    }

    .container-saiba-mais {
        font-family: 'Rubik';
        width: calc(8em + 2vw);
        height: calc(1.5em + 4vh);
        font-size: calc(1.1em + 0.4vw);
    }
}

@media (min-width: 330px) {
    .apresentacao-container {
        height: 435px;
        margin-top: 35px;
    }
}

@media (min-width: 470px) {
    #senhor-sentado {
        width: 299px;
        top: -392px;
        right: 35px;
    }

    #forma {
        width: 380px;
    }

}


@media (min-width: 721px) {
    .apresentacao-site {
        margin: 20px 0px -50px 5em;
    }

    .apresentacao-container {
        height: 400px;
    }

    #logo {
        margin-left: 3.5em;
    }
}

@media (min-width: 769px) {

    .apresentacao-site {
        font-size: inherit;
        width: 50%;
        padding: inherit;
    }

    .apresentacao-container {
        height: 520px;
    }

    .apresentacao-titulo {
        font-size: 40px;
    }

    .apresentacao-subtitulo {
        font-size: 20px;
    }

    .container-saiba-mais {
        height: 64px;
        width: 171px;
        font-size: 20px;
    }

    #saiba-mais {
        font-size: 18px;
    }

    .senhor-sentado {
        margin-top: 50px;
    }

    #senhor-sentado {
        width: 395px;
        top: -600px;
        right: 40px;
    }

    #forma {
        width: 515px;
        top: -62px;
        right: -56px;
        position: relative;
    }
}


@media (min-width: 900px) {
    .apresentacao-titulo {
        max-width: 448px;
    }

    .apresentacao-subtitulo {
        max-width: 448px;
    }

}



@media (min-width: 1080px) {

    .apresentacao-site {
        margin: 30px 0px 0px 10em;
    }

    .apresentacao-container {
        height: 480px;
    }

    .senhor-sentado {
        margin-top: 35px;
    }

    #forma {
        width: 520px;
        top: -62px;
        right: -56px;
        position: relative;
    }

    #logo {
        margin: 15px 0px 0px 9.8em;
    }
}