@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* **************************** */
/* Section [Seja um Investidor] */
/* **************************** */

.main__seja-investidor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.seja-investidor__titulo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #0B1673;
  margin-bottom: 5rem;
}

.seja-investidor__cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  padding: 0 10rem;
}

.seja-investidor__cards__individual-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  width: 20%;
  /* height: 600px; */
}

.individual-card__imagem img {
  width: 100%;
  margin-bottom: 40px;
}

.individual-card__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #0B1673;
}

.individual-card__descricao {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  margin-top: 40px;
}

.seja-investidor__cards__divisor_cima,
.seja-investidor__cards__divisor_baixo {
  width: 20%;
}

.seja-investidor__cards__divisor_cima img,
.seja-investidor__cards__divisor_baixo img {
  width: 100%;
}

.seja-investidor__cards__divisor_baixo {
  margin-top: 8rem;
}

.seja-investidor__cards__divisor_baixo img {
  transform: rotate(180deg);
}

/* ***************************************** */
/* Section [Descubra Seu Tipo de Investidor] */
/* ***************************************** */

.main__tipo-investidor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;

  background: #FCBF49;
}

.tipo-investidor__titulo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #000;

  width: 75%;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.tipo-investidor__cards {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  padding: 0 10rem;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__seta {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: initial;
  border: none;
  cursor: pointer;
  display: none;
  height: 40px;
  width: 25px;
}

.slider__seta--esquerda {
  background-image: url('../assets/Icones/seta-esquerda.svg');
}

.slider__seta--direita {
  background-image: url('../assets/Icones/seta-direita.svg');
}


.tipo-investidor__cards__individual-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  width: 30%;

  background: white;
  border-radius: 1rem;
  padding: 1rem;
}

.tipo-investidor__cards__individual-card__imagem img {
  width: 100%;
  margin-bottom: 40px;
}

.tipo-investidor__cards__individual-card__titulo {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;

  margin-bottom: 2rem;

  color: #0B1673;
}

.tipo-investidor__cards__individual-card__descricao {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}

.tipo-investidor__sub-titulo {
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;

  color: #0B1673;

  margin-top: 6rem;
  margin-bottom: 2rem;
}

@media(min-width:769px) {
  .tipo-investidor__botão {
    height: 64px;
    width: 288px;
     font-size: 25px;
  }
}

.tipo-investidor__botão {

  background: none;
  background-color: #0B1673;
  border-radius: 100px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: #eaeaea;

  margin-bottom: 5rem;

  cursor: pointer;
}

.tipo-investidor__botão:hover {
  opacity: 0.8;
}