.cabecalho {
    background-color: #0B1673;
    overflow: hidden;
}

@media (min-width: 200px) {
    .cabecalho {
        height: 100vh;
    }

    #logo {
        width: 115px;
        margin: 15px 0px 0px 10px;
    }
}

@media (min-width: 600px) {
    .cadastre-se {
        background: #ffffff;
        border-radius: 100px;
        height: calc(1.5em + 4vh);
        width: 8em;
    }

    .entrar {
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 100px;
        height: calc(1.5em + 4vh);
        width: 8em;
    }

    #cadastre-se {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        color: #0B1673;
    }

    #entrar {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
    }
}

@media (min-width: 769px) {
    .cadastre-se {
        width: 171px;
        height: 64px;
    }

    .entrar {
        width: 171px;
        height: 64px;
    }

    #logo {
        width: 189px;
        height: 62px;
    }
}

@media (min-width: 900px) {
    #logo {
        margin: 15px 0px 0px 50px
    }
}
