.graf__div--principal {
  background-color: #eaeaea;
  padding-bottom: 25px;
}

.graficos {
  background-color: #ffffff;
  width: 75%;
  border-radius: 40px;
  border: 2px solid #E1E1E1;
}

.graficos__conteudo {
  padding: 50px 50px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.graficos__img {
  cursor: pointer;
  display: flex;
  align-items: center;
}

#seta-esquerda {
  margin-right: 5px;
}

#seta-direita {
  margin-left: 5px;
}

.graficos__titulo {
  font-size: 35px;
  font-family: "Roboto";
  font-weight: 700;
  color: #23013d;
  margin-left: 80px;
  width: 70%;
}

.graficos__info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.graficos__info--h3 {
  font-size: 30px;
  font-family: "Roboto";
  font-weight: 500;
  color: #000000;
  width: 40%;
}

.graficos__info--h3 span {
  color: #50049a;
}

.graficos__grafico {
  width: 35%;
}

.graficos__button--menos {
  display: none;
  background-color: #57cc99;
  border-radius: 100px;
  border: none;

  margin: 50px auto;
  color: #23013D;
  cursor: pointer;
  font-size: 18px;
}

#show-graphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EAEAEA;
}

.animate {
  display: none;
}

@media (min-width: 768px) {
  .graficos__button--menos {
    font-size: 20px;
    width: 187px;
    height: 64px;
  }
}

@media (max-width: 768px) {
  .graficos__button--menos {
    font-size: 12px;
    width: calc(4em + 2vw);
    height: calc(1.5em + 1.6vh);
  }

  #seta-esquerda {
    width: 50px;
  }

  #seta-direita {
    width: 70px;
  }

  .graficos__conteudo {
    flex-direction: column;
    padding: 30px 30px 0;
  }

  .graficos__titulo {
    margin: 20px 0;
    font-size: 22px;
    width: 90%;
    text-align: center;
  }

  .graficos__info {
    flex-direction: column;
  }

  .graficos__info--h3 {
    font-size: 18px;
    width: 80%;
    margin: 0;
    text-align: center;
  }

  .graficos__grafico {
    margin-top: 10px;
    width: 70%;
  }
}

@media (max-width: 492px) {
  .graficos__grafico {
    width: 95%;
  }

  .graficos {
    width: 95%;
  }

  .graficos__conteudo {
    padding: 20px 10px 0;
  }

  .graficos__titulo {
    width: 90%;
    font-size: 18px;
  }

  .graficos__info--h3 {
    font-size: 16px;
  }
}