.site-info {
    height: auto;

    font-family: 'Roboto';
    padding: 3em 0em 3em 0em;
}

.info-subtitulo {
    color: #000000;
    margin-bottom: 20px;
}

.color {
    color: #0B1673;
}

.info-texto {
    color: #000000;
    margin-bottom: 40px;
}


.container-mais {
    font-family: 'Rubik';
    background: #ffffff;
    border-radius: 100px;
    font-weight: 500;
    border: none;
    color: #000000;
    cursor: pointer;
    float: right;
    margin-bottom: 40px;

}

@media (min-width: 280px) {
    .site-info {
        padding-left: 15px;
        padding-right: 15px;
    }

    .container-mais {
        width: calc(8em + 2vw);
        height: calc(1.5em + 4vh);
    }
}

@media (min-width: 721px) {
    .site-info {
        padding-left: 3.5em;
        padding-right: 3.5em;
    }
}


@media (min-width: 769px) {

    .site-info {
        margin-left: 1.5em;
        padding-left: 3em;
        padding-right: 3em;
        max-width: 760px;
        height: 85vh;
    }

    .info-subtitulo {
        font-size: 40px;
    }

    .info-texto {
        font-size: 20px;
    }

    .container-mais {
        font-size: 20px;
        width: 187px;
        height: 64px;
    }

}

@media (min-width: 1080px) {
    .site-info {
        padding-left: 0px;
        margin-left: 10em;
    }
}