
.site-info{
    display: flex;
    height: 65vh;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Roboto';
    width: 1200px;
    margin: 0 auto;
}

.info-subtitulo {
    color: #23013D;
    font-size: 64px;
    width: 890px;
    margin-top: 3rem;
    text-align: left;
}

.color {
    color: #57CC99;
}

.info-texto {
    color: #000000;
    font-size: 30px;
    width: 923px;
}


.container-mais {
    background: #57CC99;
    border-radius: 100px;
    width: 187px;
    height: 64px;
    border: none;
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 500;
    color: #23013D;   
    align-self: self-end;
}

/* @media (min-width: 280px) {
    .site-info{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 800px) {
    .site-info{
        padding-left: 73px;
        padding-right: 15px;
    }
} */
